@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@font-face {
  font-family: 'Neue';
  src: url('./assets/font/BebasNeue-Bold.otf');
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

:root{
  --pink: #FFCEE0;
  --dark-blue: #151E3A;
  --dark-pink: #FA0075;
  --clear-blue: #eff7ff;
  --green: #00F649;
  --white: #fff;
  --font: 'Fjalla One', sans-serif;
  --font-neue: 'Neue';
}